<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Claravista</title>
  <style type="text/css">table tr td font {
    mso-line-height-rule:exactly;
  }
  .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div{
    line-height:100% !important;
  }

  *{
    line-height:normal;
    padding:0 !important;
  }
  img{
    outline:none;
    text-decoration:none;
    -ms-interpolation-mode:bicubic;
    border:none;
  }
  a{
    text-decoration:none;
  }
  p{
    margin:0;
    padding:0;
  }
  div, p, a, li, td{
    -webkit-text-size-adjust:none;
  }
  img{
    border:0;
    line-height:100%;
    outline:none;
    text-decoration:none;
    -ms-interpolation-mode:bicubic;
    border:none;
  }
  br, strong br, b br, em br, i br{
    line-height:100%;
  }
  h1, h2, h3, h4, h5, h6{
    line-height:100% !important;
    -webkit-font-smoothing:antialiased;
  }
  body, #backgroundTable{
    background-color:#ffffff;
  }
  #backgroundTable{
    height:100% !important;
    margin:0;
    padding:0;
    width:100% !important;
  }
  table[class=showblocmobile], tr[class=showblocmobile], td[class=showblocmobile]{
    display:none !important;
  }
  table {border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;}
  table td {border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;}
  *[class="style2"] a , *[class="style2"]{
    color: #666666 !important;
    text-decoration: none !important;
    pointer-events: none !important;
    cursor: text !important;
  }
  </style>
</head>
<body style="width: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: normal; margin: 0px; cursor: auto;">
    {{ message|raw }}
</body>
</html>