{% extends "AppBundle::layout.html.twig" %}

{% block content %}
	<hr>
	<h1 class="text-center">Questionnaire de satisfaction</h1>	

	<div id="form_body" class="row">
		<div id="step6-post" class="col-md-8 col-md-offset-2 col-xs-12 home-block">
			<div>
				<div class="col-xs-12 text-center">
					<div class="header-form">
					</div>
					<h1 style="font-weight:bold;">MERCI !</h1>
					<h2>A très vite en boutique ou<br />
						sur <a href="https://www.louispion.fr">louispion.fr</a>, <a href="https://www.instagram.com/louispion/">Instagram</a> et <a href="https://www.facebook.com/LouisPionOfficiel">Facebook</a> !</h2>
				</div>
			</div>
		</div>
	</div>
{% endblock %}