{% extends "AppBundle::layout.html.twig" %}

{% block content %}
	<h1 class="text-center">Questionnaire de satisfaction</h1>	

	<div id="form_body" class="row">
		<div id="step6-post" class="col-md-10 col-md-offset-1 col-xs-12 home-block">
			<div>
				<div class="col-xs-12 text-center">
					<div class="header-form">
					</div>
					<h2 style="font-weight:bold;">MERCI !</h2>
					<h2>A très vite en boutique ou<br />
						sur <a class="underline" href="https://www.louispion.fr">louispion.fr</a>, <a class="underline" href="https://www.instagram.com/louispion/">Instagram</a> et <a class="underline" href="https://www.facebook.com/LouisPionOfficiel">Facebook</a> !</h2>
				</div>
				<div class="icons">

					<span class="title">Restons connectés !</span>

					<a class="instagram" href="http://instagram.com/louispion" target="_blank" title="Instagram"></a>
					<a class="facebook" href="https://www.facebook.com/LouisPionOfficiel" target="_blank" title="Facebook"></a>
					<a class="twitter" href="https://twitter.com/LouisPion" target="_blank" title="Twitter"></a>
					<a class="youtube" href="http://www.youtube.com/user/LouisPionOfficiel" target="_blank" title="Youtube"></a>

				</div>
			</div>
		</div>
	</div>
{% endblock %}