{% extends "AppBundle::layout.html.twig" %}

{% block content %}
	<h1 class="text-center decorate">Questionnaire de satisfaction</h1>	

	<div id="form_body" class="row">
		<div id="step6-post" class="col-md-10 col-md-offset-1 col-xs-12 home-block">
			<div>
				<div class="col-xs-12 text-center">
					<div class="header-form">
					</div>
					<h2 style="font-weight:bold;">MERCI{% if client.validated == 1 %}, VOUS AVEZ DEJA REPONDU A CE QUESTIONNAIRE&nbsp;!{% else %} !{% endif %}</h2>
					<h2>A très vite en boutique ou<br />
						sur <a class="underline" href="https://www.louispion.fr">louispion.fr</a> !</h2>
				</div>
				<div class="text-center">

					<h3 class="title">Restons connectés !</h3>

					<a class="instagram" href="http://instagram.com/louispion" target="_blank" title="Instagram" style="padding:0 10px;"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
					<a class="facebook" href="https://www.facebook.com/LouisPionOfficiel" target="_blank" title="Facebook" style="padding:0 10px;"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
					<a class="twitter" href="https://twitter.com/LouisPion" target="_blank" title="Twitter" style="padding:0 10px;"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
					<a class="youtube" href="http://www.youtube.com/user/LouisPionOfficiel" target="_blank" title="Youtube" style="padding:0 10px;"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a>

				</div>
			</div>
		</div>
	</div>
{% endblock %}