.list-block{
	padding:25px 20px 20px 15px;


	span.list-campaign-name{
		font-weight: bold;
		font-size: 22px;
	}

	h2:first-child, h3:first-child, p:first-child{
		margin: 0;
	}
	.data, .channel, .action, .field{
		padding-top: 10px;
	}

	.action{
		padding-top: 15px;
		text-align: center;
	}

	.channel{
		text-align: center;
	}
}

div.campaign-block-list{

	&:first-child{
		margin-top:70px;
	}

	@extend .list-block;

	border: 1px solid $border-content-color;
	background: $content-bg-color;	

	margin-top: 25px;
	margin-bottom: 25px;

}

div.client-block-title{

	@extend .list-block;

	color: $text-color-highlight;

	h2{
		font-size:18px;
		color: $text-color;
	}

	margin-top: 25px;

}

div.client-block{

	@extend .list-block;

	margin-bottom: 25px;

	li.list-group-item{
		height:40px;
	}

	border: 1px solid $border-content-color;
	background: $content-bg-color;
	padding: 35px;

	.field{
		text-align: right;
		font-weight: bold;

		li.list-group-item{
			border: 0;
		}
	}
	.data{
		li.list-group-item{
			border-top: 0;
			border-left: 0;
			border-right: 0;
			border-bottom: 1px solid $border-content-color;
			background:none;
		}
	}

}