body{
	background: white;
	color: #151515;
	font-family: Arial, sans-serif;
	padding-top:50px;
	font-size: 20px;
}
footer{
	font-size:12px;
}
.spacer{
	height:0;
	clear:both;
}
a{
	-webkit-border-radius: 0;
	-webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;

	&:hover{
		color: #666666 !important;
	}
}
hr{
	border-color: #151515 !important;
}
h1{
	font-size: 28px !important;
    margin: 25px 0 0 0 !important;

    &.decorate{
    	padding-bottom: 10px;
    	border-bottom: solid 1px #ababab;
    }

    &:after{
    	content: '';
	    width: 60px;
	    height: 3px;
	    background: #000;
	    position: absolute;
	    top: 110px;
	    left: 50%;
	    margin-left: -30px;
    }
}

.fa-1{
	padding: 0 10px;
}

.bordered{
	border: 1px solid #efefef ;
}

.home-block > div > div{
	//min-height: 450px;
	margin-top:30px;
	padding: 0 30px 30px 30px;
}

.etoile {
	display: inline-block;
	background: no-repeat center center;
	background-image: url(../web/images/etoile-grey.svg);
	background-size: 100% 100%;
    height: 33px;
    width: 33px;
    cursor: pointer;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    
    /*&:hover{
    	background: url(/web/images/etoile.svg) no-repeat center center;
		background-size: 100% 100%;
    }*/
}

.header-form{
	height: 240px;
	background: url(../web/images/services_1.jpg) no-repeat 0px -25px;
	background-size: cover;
	margin-bottom: 30px;
	margin-top: 20px;
	box-sizing: border-box;
	
	h2{
		line-height:110px;
		color: white;
		text-shadow: 2px 2px black;
		background-color: rgba(0,0,0,0.2);
	}
	@media screen and (max-width: 430px) {
		margin-bottom: 0px !important;
		background-position: 0 0;
		height: 150px;
	}
}

.btn.btn-lp{
	background-color: white;
	border: 1px solid transparent;
	outline: #000 solid 1px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    text-transform:uppercase;

	&:hover{
		border: 1px solid #151515;
	}
}
.btn.btn-lp-action{
	background-color: black;
	color: white;
	border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    text-transform:uppercase;

	&:hover{
		background-color: #333333;
	}
}
a{
	color:#151515;
	text-decoration:underline;
	&:hover{
		color:#151515;
	}
}

.icons a {
	text-decoration: none;
    margin: 3px 48px 0 0;
    display: inline-block;
}

.commentaire{
	margin-top:30px;
	margin-bottom: 30px;
}
.commentaire textarea{
	border-radius:0;
	-webkit-border-radius:0;
	border-color: #151515;
}
#step2,#step3,#step4,#step5,#step6{
	display: none;
}