/**** Extra buttons ****/

.btn-home-box-1{
    color: black;
    background-color: white !important;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 10px;
    border: 1px solid #cccccc;

    &:hover, &:focus, &:active{
    	background-color: #efefef !important;
    }
}

.btn.btn-sm{
    font-size: 15px;
}
