/**** Fonts colors ****/

// Texts
$text-color-box: white;
$text-color: #525151;			//Dark gray
$text-color-light: #767272;		//Light gray
$text-color-small: #767272;
$text-color-footer: #6c6c6c;	//Gray
$text-color-link: #16a085;		//Dark Turquoise
$text-color-highlight: #16a085;		//Dark Turquoise

//Titles
$title: #525151;				//Dark gray
$title-box: white;


/**** Boxes bg colors ****/
$login-box-bg: #1abc9c; 		//Turquoise

$home-box-bg-1: #16a085;		//Dark Turquoise
$kpi-green-box: #16a085;		//Dark Turquoise
$image-box-bg-1: #b0d8a6;		//Light Green

$home-box-bg-2: #d35400;		//Dark Orange
$image-box-bg-2: #f36d35;		//Light Orange

$home-box-bg-3: #2c3e50;		//Dark Blue Gray
$image-box-bg-3: #596273;		//Gray Blue

/**** Backgrounds ****/
$nav-bg-color : white;
$content-bg-color : white;
$title-kpi-box-color: #faf9f9;	//Very light Gray-White
$body-bg-color: #faf9f9;		//Very light Gray-White
$login-body-bg-color: #16a085;	//Dark Turquoise
$kpi-body-bg-color: #1abc9c;	//Turquoise
$nav-active-bg-color: #16a085;	//Dark Turquoise
$sub-nav-bg-color: #16a085;		//Dark Turquoise
$nav-hover-bg-color: #1abc9c;	// Turquoise
$home-layout-bg-color: #16a085;	//Dark Turquoise
$footer-bg-color: #313233;		//Very Dark Gray

/**** Nav colors ****/
$nav-active-bg : #16a085; 		//Dark Turquoise
$nav-kpi-active-bg : #1abc9c; 		//Turquoise

$nav-active-text-color: white;
$nav-inactive-text-color: #6c6c6c;	//Gray
$sub-nav-text-color: white;

/**** Search bar ****/
$search-text-color: #16a085;	//Dark Turquoise

/**** Borders ****/
$border-content-color: #cdcdcd;	//Very light Gray

/**** Buttons color ****/
$btn-text-color-1: #16a085;
$btn-text-color-2: #d35400;
$btn-text-color-3: #2c3e50;
$btn-text-color-4: white;

$btn-bg-color-1: white;
$btn-bg-color-2: #16a085;
$btn-bg-color-3: #1abc9c;
$btn-bg-color-4: #d35400;		//Dark Orange
$btn-bg-color-5: #f36d35;		//Light Orange
$btn-bg-color-6: #767272;
$btn-bg-color-7: #525151;