ul.month-list{
	li{
		display: inline-block;
		list-style: none;
		color: black;
		text-align:center;
		line-height: 25px;
		padding:0 5px !important;

		div{
			background: white;

			a{
				color: black;
			}
		}
	}

}