.nav-wrap{
	background-color: #ffffff;
	position: absolute;
    left: 0;
	width:100%;
	max-height: 115px;
}

nav.main-menu{
	background-color: #ffffff;
	height: 50px;
	border: 0;
	margin-bottom: 0;

	ul{
		background-color: #ffffff;
		li{			
			color:#151515;
			font-weight: bold;
			font-size: 14px;
			a{
				color: #151515;
				&:hover{
					background-color: #151515 !important;
					color: white !important;
				}
			}
		}
	}
}

/*Disable nav collapse*/

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
margin:0 !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

.navbar-nav>li>a {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}