html, body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -82px; 
  &:after {
	  content: "";
	  display: block;
	}
}

.site-footer, #wrapper:after {
  height: 82px; 
}

.site-footer {
  background: #313233;
  color: #6c6c6c;

  .inner-footer{
    height:100%;
    padding: 20px 0;
  }
}