{% extends "AppBundle::layout.html.twig" %}

{% block subheader %}
	{% include 'AppBundle:Commons:kpiNav.html.twig' %}
{% endblock %}

{% block content %}	
	<div class="col-xs-12">
		<h3 class="text-uppercase">{{ "Questions - Réponses"|trans }}</h3>
	</div>

	<div class="col-xs-12 kpi-box">
		<div class="inside col-xs-12">
			<h4 class="black">1) A quoi correspond le nombre de transactions ?</h4>
			<p>Il s’agit du nombre de tickets édités avec un CA supérieur à 0.</p>
			
			<h4 class="black">Comment est calculé mon taux de qualification email / Email + SMS / Email + SMS + Adresse ?</h4>
			<p>
				Taux de qualification = Nombre de transactions positives (CA>0€) rattachées à des fiches clients qualifiés / Total des transactions positives (CA>0€).<br />
				Fiches clients qualifiés = Prénom + Nom + Email OU Prénom + Nom + Email + SMS ou Prénom + Nom + email+ SMS + Adresse.
			</p>
			<h4 class="black">3) Que signifie la notion de donnée « valide » ? </h4>
			<p>
				Je collecte une donnée valide lorsque celle-ci est correcte, c’est-à dire : email valide, adresse correcte, numéro de téléphone correct.<br />
				Raisons emails non valides: hardbounces, adresses emails avec syntaxe erronée (manque arobase, …), emails fictifs ex: client@gmail.co.<br />
				Raisons sms non-valides : hardbounces (lié aux campagnes sms), format numéros de téléphone incorrect, numéros inventés (ex: 0610101010).<br />
				Raisons des adresses non-valides: adresses fausses, NPAI suite à l'envoi de campagnes print.
			</p>
			<h4 class="black">4) La notion de validité de la donnée change-t-elle les règles de calcul ?</h4>
			<p>
				Les règles de calculs restent inchangées. Le taux de collecte du tableau de bord précédent ne prenait pas en compte les données fausses.
			</p>
			<h4 class="black">5) Mon taux de collecte va-t-il diminuer par rapport au tableau de bord précédent avec l’introduction de la notion de validité ?</h4>
			<p>
				Non, car les règles de calcul sont les mêmes : le tableau de bord précédent ne prenait pas en compte les données erronées.
			</p>
			<h4 class="black">6) Qui sont mes clients contactables ?</h4>
			<p>
				Ce sont les clients rattachés à ma boutique dont l'adresse email est renseignée, valide et opt-in (= déclare accepter recevoir des communications de Louis Pion).
			</p>
			<h4 class="black">7) Qui sont mes clients animés ?</h4>
			<p>
				Ce sont mes clients (rattachés à ma boutique) ayant reçu au moins un email Louis Pion dans le mois (clients avec données valide, opt-in, actif).
			</p>
			<h4 class="black">8) Qui sont mes clients inactifs email ?</h4>
			<p>
				Ce sont les clients rattachés à ma boutique, contactables, qui n’ont ouvert aucun email sur les 6 derniers mois.
			</p>
			<h4 class="black">9) Comment un client est-il rattaché à ma boutique dans le calcul du CA ?</h4>
			<p>Un client est rattaché à la boutique X selon les règles suivantes : 
				<ul style="padding-left:20px;">
					<li style="color: black;">La boutique X est la boutique dans laquelle le client a acheté le plus souvent dans tout son historique d'achat.</li>
					<li style="color: black;">En cas d'égalité : c'est la boutique dans laquelle le client a dépensé le plus.</li>
					<li style="color: black;">En cas d'égalité : c'est la boutique dans laquelle il a acheté le plus récemment.</li>
				</ul>
			</p>
			<h4 class="black">10) Un client déjà existant dans la base mais que je qualifie (car données inexistantes) ou requalifie (car donnée non valide) compte -t-il dans ma performance ?</h4>
			<p>
				Oui car la donnée va être modifiée dans la base et cette action sera reliée à la transaction, effectuée dans la boutique.
			</p>
			<h4 class="black">11) Je ne peux pas modifier la boutique d’appartenance de mon client, aussi, si je requalifie un client d’un autre magasin, est-ce que l’action est comptabilisée dans ma performance ?</h4>
			<p>
				Oui, l’action sera bien comptabilisée dans la performance de ma boutique car la donnée collectée est reliée à la transaction, qui est réalisée dans la boutique
			</p>
			<h4 class="black">12) Les tickets d’échange sont-ils pris en compte dans le calcul ?</h4>
			<p>
				Oui, ils sont pris en compte car la logique du reporting est de faire un bilan de la collecte des données. L’échange est une occasion de collecter le
			<h4 class="black">13) Si le magasin est fermé, est-ce qu’il est encore pris en compte dans le calcul du taux de qualification régional ?</h4>
			<p>
				Le taux de collecte mensuel n’est plus calculé pour ce magasin, car il n’a plus de transaction rattachée.<br />
				Le taux de collecte Cumul annuel est pris en compte dans la performance de la région (mais le cumul s’arrête à la date de fermeture de la boutique).
			</p>
			<div class="spacer"></div>
		</div>
	</div>

	<div class="col-xs-12">
		<h3 class="text-uppercase">{{ "Définition des indicateurs"|trans }}</h3>
	</div>

	<div class="col-xs-12 kpi-box">
		<div class="inside col-xs-12">
			<h4 class="black pointer" data-toggle="collapse" href="#page1" aria-expanded="false" aria-controls="page1">Page 1 : Résultats du mois <i class="fa fa-plus pull-right" aria-hidden="true"></i></h4>
			<div  class="collapse" id="page1">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Qualification des clients</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Nombre de transactions enregistrées</th>
							<td>
								Nombre de transactions enregistrées pendant le mois écoulé.
							</td>
						</tr>
						<tr>
							<th scope="row">Données collectées email + sms</th>
							<td>
								Nombre de transactions liées à un client dont au moins l'email est renseigné et valide, enregistrées dans le mois (le sms et l'adresse peuvent être renseignés et valides).
							</td>
						</tr>
						<tr>
							<th scope="row">Données collectées email + sms + adresse</th>
							<td>
								Nombre de transactions liées à un client dont l'email, l'adresse et le sms sont renseignés et valides,  enregistrées dans le mois.
							</td>
						</tr>
						<tr>
							<th scope="row">Données collectées email non-valides</th>
							<td>
								Nombre de transactions liées à un client dont l'email  est renseigné mais non valide,  enregistrées dans le mois.<br />
								Raisons email non valide: hardbounce, adresse email avec syntaxe erronnée (manque arobase, …), email fictif ex: client@gmail.com.
							</td>
						</tr>
						<tr>
							<th scope="row">Données collectées email + sms non-valides</th>
							<td>
								Nombre de transactions liées à un client dont l'email est renseigné mais non valide et/ou le sms est renseigné mais non valide,  enregistrées dans le mois (un des deux canaux est non valide) soit email soit sms soit les deux sont non valides.<br />
								Raisons sms non-valides : hardbounce (lié aux campagnes sms), format numéro de téléphone incorrect, numéro inventé (ex: 0610101010).
							</td>
						</tr>
						<tr>
							<th scope="row">Données collectées email+sms+adresse non-valides</th>
							<td>
								Nombre de transactions liées à un client dont soit l'email soit le sms, soit l'adresse, soit une combinaison des 3 ne sont pas valides.<br />
								Raisons de l'adresse non-valide: adresse fausse, NPAI suite à l'envoi de campagnes print.
							</td>
						</tr>
						<tr>
							<th scope="row">Taux d'emails collectés</th>
							<td>
								Nombre de transactions liées à un client dont l'email au moins est renseigné et valide / nombre total de transactions enregistrées.
							</td>
						</tr>
						<tr>
							<th scope="row">Taux d'emails + SMS collectés</th>
							<td>
								Nombre de transactions liées à un client dont l'email et le sms au moins sont renseignés et valides / nombre total de transactions enregistrées.
							</td>
						</tr>
						<tr>
							<th scope="row">Taux d'emails + SMS + Téléphone collectés</th>
							<td>
								Nombre de transactions liées à un client dont l'email, le sms et l'adresse sont renseignés et valides / nombre total de transactions enregistrées.
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>
								Top Louis Pion
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Top Email #1</th>
							<td>
								Boutique ayant le taux d'emails collectés valides  le plus élevé sur le mois.
							</td>
						</tr>
						<tr>
							<th scope="row">Top Email + SMS #1</th>
							<td>
								Boutique ayant le taux d'emails+ sms collectés valides le plus élevé sur le mois.
							</td>
						</tr>
						<tr>
							<th scope="row">Top Email + SMS + Adresse #1</th>
							<td>
								Boutique ayant le taux d'emails+sms+adresse collectés valides  le plus élevé sur le mois.
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h4 class="black pointer" data-toggle="collapse" href="#page2" aria-expanded="false" aria-controls="page2">Page 2 : Cumul annuel <i class="fa fa-plus pull-right" aria-hidden="true"></i></h4>
			<div  class="collapse" id="page2">
				<table class="table table-striped">
					<tbody>
						<tr>
							<td>Fonctionnement : Recalcul des indicateurs tous les mois</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h4 class="black pointer" data-toggle="collapse" href="#page3" aria-expanded="false" aria-controls="page3">Page 3 : Planning des campagnes <i class="fa fa-plus pull-right" aria-hidden="true"></i></h4>
			<div  class="collapse" id="page3">
				<table class="table table-striped">
					<tbody>
						<tr>
							<th scope="row">Les chiffres des campagnes sont annoncés pour Louis Pion au global (et non détaillé par boutique)</th>
							<td>
								Nombre d'emails envoyés à la base de données de clients Louis Pion contactables (=destinataires).
							</td>
						</tr>
						<tr>
							<th scope="row">Nombre d'envois</th>
							<td>
								Nombre d'emails envoyés à la base de données de clients Louis Pion contactables (=destinataires).
							</td>
						</tr>
						<tr>
							<th scope="row">Taux d'ouvertures</th>
							<td>								
								Rapport entre le nombre d’emails ouverts parles destinataires et le nombre d’emails envoyés.
							</td>
						</tr>
						<tr>
							<th scope="row">Taux de clics</th>
							<td>								
								Rapport entre le nombre de clics effectués sur des liens contenus dans l’email et le nombre d’emails envoyés. Calcul en taux unique ou cumulé.
							</td>
						</tr>
						<tr>
							<th scope="row">CA généré </th>
							<td>								
								Somme des CA nets par client ciblé ayant acheté pendant la période d'analyse.
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			{% if user.brand != "ROYAL QUARTZ" %}
			<h4 class="black pointer" data-toggle="collapse" href="#page4" aria-expanded="false" aria-controls="page4">Page 4 : Fidélité de mes clients <i class="fa fa-plus pull-right" aria-hidden="true"></i></h4>
			<div  class="collapse" id="page4">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Mes clients animés</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Un client est rattaché à la boutique X selon les règles suivantes : </th>
						</tr>
						<tr>
							<td>
								1) La boutique X est la boutique dans laquelle le client a acheté le plus souvent dans tout son historique d'achat.
							</td>
						</tr>
						<tr>
							<td>								
								2) en cas d'égalité  : c'est la boutique dans laquelle le client a dépensé le plus.
							</td>
						</tr>
						<tr>
							<td>								
								3) en cas d'égalité  : c'est la boutique dans laquelle il a acheté le plus récemment.
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-striped">
					<tbody>
						<tr>
							<th scope="row">Mes clients animés</th>
							<td>
								Nombre de clients ayant reçu une communication Louis Pion dans le mois  (clients email valide, opt-in, actif).
							</td>
						</tr>
						<tr>
							<th scope="row">Nombre de clients contactables email</th>
							<td>
								Nombre de clients dont l'adresse email est renseignée, valide et opt-in (= déclare accepter recevoir des communications de Louis Pion).
							</td>
						</tr>
						<tr>
							<th scope="row">Nombre de clients inactifs emails</th>
							<td>
								Nombre de clients qui ont reçu plus de 10 emails ou plus dans les 6 derniers mois et n'en ont ouvert aucun (à confirmer).
							</td>
						</tr>
						<tr>
							<th scope="row">Nombre de clients contactés par email</th>
							<td>
								Nombre de clients rattachés à la boutique, ayant reçu au moins 1 email dans le mois écoulé (clients email valide, opt-in, actif).
							</td>
						</tr>
						<tr>
							<th scope="row">Nombre de clients contactés par email ayant acheté sur le mois</th>
							<td>
								Nombre de clients rattachés à la boutique ayant reçu au moins 1 email Louis Pion (hors inactifs email, hors désabonnement) et ayant acheté sur le mois écoulé.
							</td>
						</tr>
						<tr>
							<th scope="row">CA des clients contactés par email</th>
							<td>
								CA généré dans le mois écoulé, par les clients de la boutique, contactés par email (hors inactifs email, hors désabonnement).
							</td>
						</tr>
						<tr>
							<th scope="row">CA depuis janvier</th>
							<td>
								Somme des CA des clients contactés par email en cumul annuel
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>
								Le top 3 du mois
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Boutique A</th>
							<td>
								Boutique ayant le CA le plus élevé généré par l'animation client pendant le mois écoulé.
							</td>
						</tr>
						<tr>
							<th scope="row">Boutique B</th>
							<td>
								Boutique ayant le 2e CA le plus élevé généré par l'animation client pendant le mois écoulé.
							</td>
						</tr>
						<tr>
							<th scope="row">Boutique C</th>
							<td>
								Boutique ayant le 3e CA le plus élevé généré par l'animation client pendant le mois écoulé.
							</td>
						</tr>
					</tbody>
				</table>
			</div>			
			{% endif %}
			<div class="spacer"></div>
		</div>
	</div>

	<div style="height:30px;" class="spacer"></div>

{% endblock %}
	
{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(function() {

			$('h4.pointer').on('click', function(){
				if($(this).attr("aria-expanded") == "false")
			  		$(this).children('i').removeClass('fa-plus').addClass('fa-minus');
			  	if($(this).attr("aria-expanded") == "true")
			  		$(this).children('i').removeClass('fa-minus').addClass('fa-plus');
			});

	   });

	</script>
{% endblock %}